body{
  background-image: url('back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  border: 1px solid white;
}

.container:hover{
  border: 1px solid #C0C0C0;
}

.center {
  position: absolute;
  left: 46%;
  margin-right: 500px;
  margin-left: -500px;
  width: 1000px;
  height: auto;
  background-color: #008800;
  padding: 10px 50px 30px 50px;
}

.white{
  background-color: white;
}

.top-radius{
  border-radius: 20px 20px 0px 0px;
}

.down-radius{
  border-radius: 0px 0px 20px 20px;
  margin-top: 75px;
}

.column {
  float: left;
  width: 20%;
  box-sizing: border-box;
}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .crop-photo{
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto; 
  }

  .home{
    float: left;
    font-size: 250%;
    margin: 10px 20px 20px 0px;
  }

  .log-in{
    float: right;
  }

  .description {
    float: left; /* Important */
    text-align: center;
    width: 100%;
    line-height: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 20px 5px 20px 20px;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 120%;
  }

.logo{
  color: white;
  text-align: center;
  text-decoration: none;
}

.profile-photo{
  margin: 10px 20px 10px -20px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.filter{
  display: inline;
  width: 300px;
  font-size: 100%;
  padding: 10px;
  margin: 10px;
  border-style: none;
  border-radius: 7px;
  background-color: #00AA00;
  color: white;
}

.left{
  float: left;
}

.submit {
  width: 100px;
  font-size: 100%;
  border-style: none;
  background-color: #00BB00;
  color: white;
  padding: 7px;
  margin: -5px 0px;
  border-radius: 7px;
}

.delete {
  width: 100px;
  font-size: 100%;
  border-style: none;
  background-color: #BB0000;
  color: white;
  padding: 7px;
  margin: -5px -20px -5px -20px;
  border-radius: 7px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=file] {
  width: 20%;
  max-width: 100%;
  color: #444;
  padding: 7px 20px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #009900;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #006600;
}

.cell {
  width: 50%;
  padding: 7px 20px;
  margin: 8px 0;
  font-size: 100%;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.in-line{
  display: inline;
  padding-right: 10px;
}

.search {
  display: inline;
  padding: 6px;
  border: none;
  margin-right: 50px;
  font-size: 100%;
  border-radius: 5px 0px 0px 5px;
}

.enter {
  display: inline;
  border: none;
  font-size: 100%;
  margin-left: -50px;
  padding: 6px;
  border-radius: 0px 5px 5px 0px;
}

.enter:hover{
  background-color: #A0A0A0;
}

.log-out{
  display: inline;
  border: none;
  font-size: 130%;
  margin-top: -15px;
  padding: 15px;
  margin-left:-10px;
  border-radius: 50%;
  background-color: #008800;
  color: white;
}

.cart{
  display: inline;
  border: none;
  z-index: 1;
  font-size: 130%;
  margin-top: -15px;
  padding: 15px;
  border-radius: 50%;
  background-color: #008800;
  color: white;
}

.cart:hover{
  background-color: #006600;
}

.log-out:hover{
  background-color: #006600;
}


.new-product{
  display: inline;
  width: 470px;
  font-size: 100%;
  padding: 10px;
  margin: 10px;
  border-style: none;
  border-radius: 7px;
  background-color: #00AA00;
  color: white;
}

.cart-object{
  width: 100%;
  height: auto;
}

.cart-item{
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
}

td{
  padding: 5px;
  font-size: 110%;
}

th{
  font-size: 110%;
}

.cart-photo{
  margin-left: -20px;
  margin-right: -20px;
  width: 100px;
  height: 100px;
}

.cart-amount{
  width: 100px;
  padding: 5px;
  text-align: center;
  font-size: 90%;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.cart-block-amount{
  display: flex;
  justify-content: center;
  margin-left: -30px;
  margin-right: -30px;
}

.cart-edit-amount{
  font-size: 130%;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  border-color: #CECECE;
  border-style: none;
}

hr {
  border: none;
  background-color: black;
  color: black;
  border-radius: 5px;
  height: 3px;
 }

.total{
  float: right;
  font-size: 130%;
}

.cart-table{
  width: 100%;
  text-align: center;
  border: none;
}

.cart-count{
  position: relative;
  width: auto;
  height: auto;
  z-index: 2;
  padding: 5px;
  margin-left: -20px;
  margin-top: -10px;
  border-radius: 50%;
  color: white;
}

.select{
  height: 25px;
  width: 30px;
  background-color: white;
  font-size: 80%;
  border: 1px solid #C0C0C0;  
  border-radius: 20%;
}

.gray{
  background-color: #F0F0F0;
}

